import { Cmd } from './Cmd';
import { RouteBase } from './RouteBase';
import { proto } from './proto/internal';

export class *RouteName* extends RouteBase {
    // ------------------- * implement Cmds * -------------------
}